/* Reset di base e regole globali */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

header {
    background: #555;
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}

main {
    padding: 2rem;
}

.feature-item {
    display: flex;
    justify-content: center; /* Centra orizzontalmente */
    align-items: center; /* Centra verticalmente */
    flex-direction: column; /* Imposta i figli uno sotto l'altro */
}

.feature-image {
    width: 80px; /* Regola la dimensione come preferisci */
    margin-right: 1rem;
    transition: transform 0.3s ease;
}

.feature-image:hover {
    transform: scale(1.1); /* Effetto zoom al passaggio del mouse */
}

#trust div {
    background: #f4f4f4;
    margin: 0.5rem 0;
    padding: 1rem;
    transition: background-color 0.3s ease;
}

#trust div:hover {
    background-color: #e2e2e2;
}

#installation {
    text-align: center;
    margin-top: 2rem;
}

button#install-button {
    background: #5cb85c;
    color: white;
    border: none;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

button#install-button:hover {
    opacity: 0.8;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
